

/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #003791; /* fundo */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

::selection{
  color: #fff;
  background: #0f56b8;
}

.bi-arrow-left-circle-fill{
  font-size: 70px;
  color: #fff;
  position: relative;
  top: -350px;
  left: -120px;
}
.wrapper{
  width: 1400px;
  min-width: 800px;
  height: 700px;
  background: #003791; /* cor de fundo da div */
  border-radius: 5px;
  padding-right: 85px;
  padding-left: 85px;
  padding-top: 50px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}
.wrapper header{
  color: #fff; /* Texto de cima */
  font-size: 42px;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}
.span{
  font-family: 'Arvo', serif;
  font-weight: 100;
}
.fa-search{
  font-size: 20px;
}
.nordeste{
  display: flex;
  align-items: center;
  width: 19%;
  justify-content: space-between;
}
.wrapper form{
  height: 55px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}
form :where(i, p){
  color: #003791; /* ícone de nuvem e texto */
}
form i{
  padding-left: 10px;
  padding-right: 8px;
  font-size: 27.2px;
}
form p{
  margin-top: 3px;
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
  font-weight: 700; 
  padding-right: 10px;
}

.perfil{
  display: flex;
  align-items: center;
  justify-content: end;
}
img{
  max-width: 5%;
  height: auto;
  border-radius: 50%;
}
.usuario{
  color: #fff;
  font-size: 14px;
  font-family: 'Arimo', sans-serif;
  margin-top: 2px;
  margin-left: 13px;
  margin-right: 140px;
}

.informacao{
  display: flex;
  background-color: #0f56b8;
  margin-bottom: 35px;
  padding: 20px;
  color: #fff;
  font-size: 14px;
  border-radius: inherit;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.nomeitem{
  margin-left: 0%;
  font-family: 'Arimo', sans-serif;
}
.atualizacaoitem{
  margin-left: 54.6%;
  font-family: 'Arimo', sans-serif;
}

section .row{
  margin-bottom: 10px;
  background: #0f56b8; /* fundo do upload */
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
section .row i{
  color: #fff; /* ícone de documento e check */
  font-size: 30px;
}
section .details span{
  font-size: 14px;
  color: #fff; /* porcentagem nome do upload durante o progresso */
}
.size{
  font-family: 'Roboto', sans-serif;
}
.name{
  font-family: 'Arimo', sans-serif;
}
.progress-area .row .content{
  width: 100%;
  margin-left: 15px;
}
.progress-area .details{
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}
.progress-area .content .progress-bar{
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #003791; /* restante da barra de progresso */
  border-radius: 30px;
}
.content .progress-bar .progress{
  height: 100%;
  width: 0%;
  background: #fff; /* barra de progresso */
  border-radius: inherit;
}
.uploaded-area{
  max-height: 375px;
  overflow-y: scroll;
}
.uploaded-area.onprogress{
  max-height: 297px;
}
.uploaded-area::-webkit-scrollbar{
  width: 0px;
}
.uploaded-area .row .content{
  display: flex;
  align-items: center;
  width: 500px;
}
.uploaded-area .row .details{
  display: flex;
  margin-left: 15px;
  flex-direction: column;
  color: #fff; /* nome do upload */
}
.uploaded-area .row .details .size{
  color: #fff; /* cor do tamanho do upload */
  font-size: 12px;
}
.uploaded-area i.fa-check{
  font-size: 16px;
}